<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>みんなの投稿一覧</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% if @posts.any? %>
        <div class="row d-flex">
          <%= search_form_for @search, url:public_posts_path do |f| %>
            <div class="input-group md-6">
              <%= f.search_field :text_cont, class: "form-control", placeholder: '投稿が検索できるよ' %>
              <div class="input-group-append">
                <%= f.submit "検索", class: "btn btn-primary" %>
              </div>
            </div>
            <div class="row" style="height:20px;"></div>
          <% end %>
        </div>
      <% else %>
        <h4>検索結果は無いみたい</h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @posts.reverse.each do |post| %>
        <div class="col-md-7 border border-dark border border-5 rounded">
          <%= post.user.name %>
          <span class="row border-bottom border-dark border"></span>
          <div class="row" style="height:20px;"></div>
          <%= link_to public_post_path(post.id), class: "nav-link text-dark" do %>
            <%= post.text %>
            <p class="text-right">♥♡</p>
            <span class="row border-bottom border-dark border-2"></span>
            <p>コメント <%= post.comments.count %>件</p>
          <% end %>
        </div>
        <div class="row" style="height:15px;"></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= paginate @posts %>
    </div>
  </div>
  <div class="row" style="height:100px;"></div>
</div>