<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>気持ちに向かい合うのは難しいよね</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="col-md-7 border border-dark border border-5 rounded">
        <%= @post.user.name %>
        <span class="row border-bottom border-dark border"></span>
        <%= link_to public_comment_path(@comments.ids), class: "nav-link text-dark" do %>
          <%= @post.text %>
          <div class="row" style="height:20px;"></div>
          <span class="row border-bottom border-dark border-2"></span>
        <% end %>
        <%= form_with model: @comment, url:public_comments_path do |f| %>
          <p>
            コメント
            <%= f.text_field :text, placeholder: "もらって嬉しい言葉を" %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "送信する", class:"btn btn-sm btn-success" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>