<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>気持ちに向かい合うのは難しいよね</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="col-md-7 border border-dark border border-5 rounded">
        <%= @post.user.name %>
        <span class="row border-bottom border-dark border"></span>
        <div class="row" style="height:20px;"></div>
        <% if @post.comments.any? %>
          <%= link_to comment_path(@comments.ids), class: "nav-link text-dark" do %>
            <%= @post.text %>
            <p class="text-right">
              <% if @post.favorited_by?(current_user) %>
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  ♥
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(@post), method: :post do %>
                  ♡
                <% end %>
              <% end %>
            </p>
            <span class="row border-bottom border-dark border-2"></span>
          <% end %>
        <% else %>
          <%= @post.text %>
          <p class="text-right">
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                ♥
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                ♡
              <% end %>
            <% end %>
          </p>
          <span class="row border-bottom border-dark border-2"></span>
        <% end %>
        <div class="row" style="height:10px;"></div>
        <%= form_with model: @comment, url:comments_path do |f| %>
          <p>
            コメント
            <%= f.text_field :text, placeholder: "もらって嬉しい言葉を" %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "送信する", class:"btn btn-sm btn-success" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>