<div class="container">
  <div class="row">
    <h2>わたしは管理者としてログインする</h2>
    <div class="col-md-5.5 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <div class="field">
            <th><%= f.label "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, placeholder:"test@test.com" %></td>
          </div>
          <div class="field">
            <th><%= f.label "パスワード" %></th>
            <td><%= f.password_field :password, autofocus: true %></td>
          </div>
        </table>
        <div class="mx-auto">
          <%= f.submit "ログイン", class:"btn btn-sm btn-primary" %>
        </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>



