<div class="container">
  <h2>投稿一覧</h2>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @posts.each do |post| %>
        <div class="col-md-7 border border-dark border border-5 rounded-3">
          <%= link_to admin_user_path(@post.user.id), class: "nav-link text-dark" do %>
            <%= post.user.name %>
          <% end %>
          <span class="border-bottom border-dark border-3"></span>
          <%= link_to admin_post_path(@post.id), class: "nav-link text-dark" do %>
            <%= post.text %>
            <span class="border-bottom border-dark border-2"></span>
            <p>コメント <%= @post.comments.count %>件</p>
          <% end %>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
