<div class="container">
  <div class="row" style="height:50px;"></div>
  <% if signed_in? %>
    <h2>投稿一覧</h2>
    <div class="row" style="height:20px;"></div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <% if @posts.any? %>
          <div class="row d-flex">
            <%= search_form_for @search, url:admin_root_path do |f| %>
              <div class="input-group md-6">
                <%= f.search_field :text_cont, class: "form-control", placeholder: '投稿が検索できるよ' %>
                <div class="input-group-append">
                  <%= f.submit "検索", class: "btn btn-primary" %>
                </div>
              </div>
              <div class="row" style="height:20px;"></div>
            <% end %>
          </div>
        <% else %>
          <h4>検索結果、無し</h4>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <% @posts.each do |post| %>
          <div class="col-md-7 border border-dark border border-5 rounded">
            <%= link_to admin_user_path(post.user.id), class: "nav-link text-dark" do %>
              <%= post.user.name %>
            <% end %>
            <span class="row border-bottom border-dark border"></span>
            <div class="row" style="height:20px;"></div>
            <%= link_to admin_post_path(post.id), class: "nav-link text-dark" do %>
              <%= post.text %>
              <div class="row" style="height:20px;"></div>
              <span class="row border-bottom border-dark border-2"></span>
              <p>コメント <%= post.comments.count %>件</p>
            <% end %>
          </div>
          <div class="row" style="height:15px;"></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= paginate @posts %>
      </div>
    </div>
    <div class="row" style="height:100px;"></div>
  <% else %>
    <%= link_to new_admin_session_path, class:"btn btn-outline-success" do %>
      ログインしてください。
    <% end %>
  <% end %>
</div>