<div class="container">
  <h2><%= @user.name %>のページ</h2>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <div class="row">
        <table class="table table-borderless">
          <th>ニックネーム</th>
          <td><%= @user.name %></td>
        </table>
      </div>
      <div class="row">
        <table class="table table-borderless">
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </table>
      </div>
      <div class="row">
        <table class="table table-borderless">
          <th>ステータス</th>
          <td>
            <% if @customer.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-secondary">退会</p>
            <% end %>
          </td>
        </table>
      </div>
      <div class="row">
        <div class="col-md-2.5 mx-auto">
          <%= link_to "編集する", edit_admin_user_path(@user), class:"btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <h4><%= @user.name %>の投稿一覧</h4>
      <% @user.posts.each do |user| %>
        <div class="col-md-7 border border-dark border border-5 rounded-3">
          <%= link_to admin_user_path(@user.id), class: "nav-link text-dark" do %>
            <%= user.name %>
          <% end %>
          <span class="border-bottom border-dark border-3"></span>
          <%= link_to admin_post_path(@user.post.id), class: "nav-link text-dark" do %>
            <%= user.post.text %>
            <span class="border-bottom border-dark border-2"></span>
            <p>コメント <%= @user.post.comments.count %>件</p>
          <% end %>
        </div>
      <% end %>
      <%= paginate @user.posts %>
    </div>
  </div>
</div>
