<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2><%= @user.name %>のいいね一覧</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @favorite_posts.reverse.each do |post|%>
        <div class="col-md-7 border border-dark border border-5 rounded">
          <%= post.user.name %>
          <span class="row border-bottom border-dark border"></span>
          <div class="row" style="height:20px;"></div>
          <%= link_to post_path(post.id), class: "nav-link text-dark" do %>
            <%= post.text %>
            <p class="text-right">
              <%= link_to post_favorites_path(post), method: :delete do %>
                ♥
              <% end %>
            </p>
            <span class="row border-bottom border-dark border-2"></span>
            <p>コメント <%= post.comments.count %>件</p>
          <% end %>
        </div>
        <div class="row" style="height:15px;"></div>
      <% end %>
    </div>
  </div>
  <div class="row" style="height:100px;"></div>
</div>

