<div class="container">
  <div class="row" style="height:50px;"></div>
  <h2>マイページだよ</h2>
  <div class="row" style="height:20px;"></div>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <div class="row">
        <table class="table table-borderless">
          <th>ニックネーム</th>
          <td><%= @user.name %></td>
        </table>
      </div>
      <div class="row">
        <table class="table table-borderless">
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </table>
      </div>
      <div class="row">
        <div class="col-md-2.5 mx-auto">
          <%= link_to "編集する", public_users_information_edit_path(@user), class:"btn btn-sm btn-success" %>
        </div>
      </div>
      <div class="row" style="height:50px;"></div>
      <div class="row">
        <div class="col-md-2.5 mx-auto">
          <%= link_to public_post_favorites_path(@post), class:"btn btn-outline-danger" do %>
            いいね一覧を見る
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8 mx-auto">
      <h4><%= @user.name %>の投稿一覧</h4>
      <% @post.reverse.each do |post| %>
        <div class="col-md-7 border border-dark border border-5 rounded">
          <%= @user.name %>
          <span class="row border-bottom border-dark border"></span>
          <%= link_to public_post_path(@post.ids), class: "nav-link text-dark" do %>
            <%= post.text %>
            <p class="text-right">♥♡</p>
            <span class="row border-bottom border-dark border-2"></span>
            <p>コメント <%= post.comments.count %>件</p>
          <% end %>
        </div>
        <div class="row" style="height:15px;"></div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
  <div class="row" style="height:100px;"></div>
</div>